<%- include('header') %>
<section id="navigation-bar headert">
    <nav class="navbar navbar-expand-lg  py-3 fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand">Zapnode</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon text-light">
                    <i class="fa-solid fa-bars" style="color: #fff;"></i>
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item">
                        <a href="#" class="nav-link active px-lg-3 pt-3">Home</a>
                    </li>
                    <li>
                        <a href="#investment" class="nav-link px-lg-3 pt-3">Invest</a>
                    </li>
                    <li>
                        <a href="#product" class="nav-link px-lg-3 pt-3">Products</a>
                    </li>
                    <a href="/logout">
                        <button class="btn signup-home-nav">

                            Log out

                        </button>
                    </a>
                </ul>
            </div>
        </div>
    </nav>
</section>
</section>

<section class="showcase">
    <div class="container ms-auto weee">
        <div class="row">
            <div class="col-md-6 mt-5 text-center text-lg-start">
                <h1 style="font-size:2.5rem; font-weight: 700" class="">
                    Investments that help you grow
                </h1>
                <h5 class="mt-3 opacity-75" style="color: #fff">
                    We put your money in high quality assets that help you build wealth and achieve your
                    financial goals.
                </h5>
                <a href="#details">
                    <button class="btn mt-5 signup-home">

                        Check it out
                        <i class="fa-solid fa-chevron-down mt-1 ms-2"></i>

                    </button>
                </a>

            </div>
            <div class="col-md-6 d-none d-md-flex justify-content-center mt-5 mt-lg-0">

                <img src="images/zapnode.png" class="img-fluid w-75" alt="">
            </div>
        </div>
    </div>
</section>

<section id="details">
    <div class="container ms-auto">
        <div class="row">
            <div class="col-md-6 text-center text-md-start order-2 order-md-1" data-aos="fade-left">
                <p class="mt-5" style="font-size: 2.5rem; font-weight:bolder">
                    Invest your money in dollars
                </p>
                <h5 class="mt-3 opacity-75" style="color:black">
                    By holding your investments in a stable currency, your money grows more over time and
                    retains its value better.
                </h5>
                <button class="p-2 rounded-3 border-0 mt-3"
                    style="color: rgb(255, 255, 255); background-color: #252158;">
                    Start investing now
                </button>
                <!-- <button class="start-investing">
                            Start investing now
                        </button> -->
            </div>
            <div class="col-md-6 d-flex justify-content-center mt-5 mt-lg-0 order-1 order-md-2" data-aos="fade-right">
                <img src="images//business _ chart, graph, analytics, statistics, presentation, project, woman, people@2x.png"
                    class="img-fluid w-75" alt="">
            </div>
        </div>
    </div>
    <div class="container ms-auto details-gap">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center mt-5 mt-lg-0 order-1 order-md-2" data-aos="fade-left">
                <img src="images//business _ graph, chart, analytics, statistics, presentation, project, woman, people@2x.png"
                    class="img-fluid w-75" alt="">
            </div>
            <div class="col-md-6 text-center text-md-start order-1 order-md-2" data-aos="fade-right">
                <p class="mt-5" style="font-size: 2.5rem; font-weight:bolder">
                    Choose what's best for you
                </p>
                <h5 class="mt-3 opacity-75" style="color:black">
                    Unlike other platforms, Zapnode lets you pick between stocks, US real estate and fixed
                    income, according to your risk
                    appetite. That way you can spread your risk and tap into different investments all in one
                    place.
                </h5>
                <button class="p-2 rounded-3 border-0 mt-3"
                    style="color: rgb(255, 255, 255); background-color: #252158;">
                    Start investing now
                </button>
            </div>
        </div>
    </div>
    <div class="container ms-auto details-gap">
        <div class="row">
            <div class="col-md-6 text-center text-md-start order-2 order-md-1" data-aos="fade-left">
                <p class="mt-5" style="font-size: 2.5rem; font-weight:bolder">
                    Set goals and reach them
                </p>
                <h5 class="mt-3 opacity-75" style="color:black">
                    You can invest towards a goal on Zapnode--retirement, higher education, save for your home
                    or travel budgets. Or create a
                    goal of your own and invest periodically to achieve them.
                </h5>
                <button class="p-2 rounded-3 border-0 mt-3"
                    style="color: rgb(255, 255, 255); background-color: #252158;">
                    Start investing now
                </button>
            </div>
            <div class="col-md-6 d-flex justify-content-center mt-5 mt-lg-0 order-1 order-md-2" data-aos="fade-right">
                <img src="images//navigation, location _ route, destination, marker, pin, gps, map, woman, people.png"
                    class="img-fluid w-75" alt="">
            </div>
        </div>
    </div>
    <div class="container ms-auto details-gap">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center mt-5 mt-lg-0 order-1 order-md-2" data-aos="fade-left">
                <img src="images//communication, transportation _ fly, airplane, paper, memo, man, people, transport, delivery.png"
                    class="img-fluid w-75" alt="">
            </div>
            <div class="col-md-6 text-center text-md-start order-1 order-md-2" data-aos="fade-right">
                <p class="mt-5" style="font-size: 2.5rem; font-weight:bolder">
                    We remember so you dont<br> have to
                </p>
                <h5 class="mt-3 opacity-75" style="color:black">
                    Our Auto-invest feature makes it easy to stay consistent, even when you forget. Set a
                    funding amount, frequency and
                    payment method and Zapnode will automatically fund your investment, on schedule.
                    Start investing now
                </h5>
                <button class="p-2 rounded-3 border-0 mt-3"
                    style="color: rgb(255, 255, 255); background-color: #252158;">
                    Start investing now
                </button>
            </div>
        </div>
    </div>
</section>

<section id="investment">
    <div class="container ms-auto text-center">
        <h2 style="font-size: 2.25rem;" class="fw-bolder text-light">
            Investment Options
        </h2>
        <h6 class="text-light">Take your destiny into your hands</h6>
        <div class="row mt-5 investment-grid">
            <div class="col-md investment-card rounded-3 me-0 me-md-5 mb-5 mb-md-0 pt-3 bg-light" data-aos="zoom-in">
                <div class="investment-img">
                    <img src="images//stock-market.png" class="img-fluid w-50 rounded-circle" alt="...">
                </div>
                <h3 class="mt-3">
                    Stocks
                    </h2>
                    <h6 class="mt-3 opacity-75">
                        We help you invest and manage your money by investing in our portfolio of 30 high-growth
                        stocks across the US market
                        with our equity portfolio of power stocks.
                    </h6>
                    <h6 class="mt-5">
                        <span style="opacity: 0.5;">Historical Returns:</span> 14% per annum<br>
                        <span style="opacity: 0.5;">Risk Level: High</span>
                    </h6>
                    <h6 class="mt-3 mb-5 fw-bolder" style="color: #252158;">
                        Learn how Stocks work
                    </h6>
            </div>
            <div class="col-md investment-card rounded-3 me-0 me-md-5 mb-5 mb-md-0 pt-3 bg-light" data-aos="zoom-in"
                data-aos-delay="200">
                <div class="investment-img">
                    <img src="images//bond.png" class="img-fluid w-50 rounded-circle" alt="...">
                </div>
                <h4 class="mt-3">
                    Fixed Income
                </h4>
                <h6 class="mt-3 opacity-75">
                    A low-risk asset perfect for anyone who wants to protect their money in a secure,
                    appreciating currency, i.e. the
                    dollar. For people who want to protect their hard-earned money from inflation while earning
                    steady returns.
                </h6>
                <h6 class="mt-5">
                    <span style="opacity: 0.5;">Historical Returns:</span> 14% per annum<br>
                    <span style="opacity: 0.5;">Risk Level: High</span>
                </h6>
                <h6 class="mt-3 mb-5 fw-bolder" style="color: #252158;">
                    Learn how Fixed Income work
                </h6>
            </div>
            <div class="col-md investment-card rounded-3 me-0 mb-5 mb-md-0 pt-3 bg-light" data-aos="zoom-in"
                data-aos-delay="400">
                <div class="investment-img ">
                    <img src="images//finance(2).png" class="img-fluid w-50 rounded-circle" alt="...">
                </div>
                <h4 class="mt-3">
                    Real Estate
                </h4>
                <h6 class="mt-3 opacity-75">
                    Our Real Estate plan is the sweet middle. Best for those who want a balance of good returns
                    and medium risk. This plan
                    invests in rented buildings in the US.
                </h6>
                <h6 class="mt-5">
                    <span style="opacity: 0.5;">Historical Returns:</span> 14% per annum<br>
                    <span style="opacity: 0.5;">Risk Level: High</span>
                </h6>
                <h6 class="mt-3 mb-5 fw-bolder" style="color: #252158;">
                    Learn how Real Estate work
                </h6>
            </div>
        </div>
    </div>
</section>

<section id="security">
    <div class="container ms-auto">
        <div class="row">
            <div class="col-md-5" data-aos="fade-left">
                <p class="fw-bolder" style="font-size: 3em; color: #252158">
                    Keeping your money safe is our business.
                </p>
                <h6 class="mt-4">
                    Trust is our currency. We are committed to the security of your money and the protection of
                    your account. That is how we
                    earn your trust.
                </h6>
                <div class='d-flex mt-5'>
                    <div class="me-5">
                        <i class="fa-solid fa-lock fa-2x" style="color:#252158; background-color: white"></i>
                    </div>
                    <div class="">
                        <h3 class="fw-bold" style="color:#139ca4">
                            Bank-grade Security
                        </h3>
                        Our payment processors are PCI-DSS compliant to ensure security of your data
                        electronically.
                    </div>
                </div>
                <div class='d-flex mt-5'>
                    <div class="me-5">
                        <i class="fa-solid fa-gavel fa-2x" style="color:#252158; background-color: white"></i>
                    </div>
                    <div class="">
                        <h3 class="fw-bold" style="color:#139ca4">
                            Regulatory Compliance
                        </h3>
                        We're licensed & regulated by the Lagos State Government under the Cooperative Societies
                        Act (2013) as amended.
                    </div>
                </div>
            </div>
            <div class="col-md-7" data-aos="fade-right">
                <img src="images/Rocket.gif" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>

<section id="product">
    <div class="container">
        <p class="fw-bolder text-center" style="font-size: 2.5rem; color: #ffffff">
            Products Offered
        </p>
        <div class="row">
            <div class="col-md" data-aos="fade-down" data-aos-delay="0">
                <div class='row mt-5 me-0 me-md-2 product-grid p-3'>
                    <div class="col-3 me-0">
                        <!-- <i class="fa-solid fa-lock fa-3x" style="color:#252158; background-color: white"></i> -->
                        <img src="images//finance(2).png" alt="" class="img-fluid rounded-circle w-100">
                    </div>
                    <div class="col">
                        <h3 class="fw-bold" style="color:#139ca4">
                            Contribution
                        </h3>
                        Make monthly contributions into your Cloud Cooperative account with just a few taps on
                        your smartphone.
                        <a href="#">
                            <h6 class="mt-5" style="color:#139ca4">
                                Learn more
                            </h6>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md" data-aos="fade-down" data-aos-delay="00">
                <div class='row mt-5 ms-0 ms-md-2 product-grid p-3'>
                    <div class="col-3 me-0">
                        <!-- <i class="fa-solid fa-lock fa-3x" style="color:#252158; background-color: white"></i> -->
                        <img src="images//finance(1).png" alt="" class="img-fluid rounded-circle w-100">
                    </div>
                    <div class="col">
                        <h3 class="fw-bold" style="color:#139ca4">
                            Loans
                        </h3>
                        Whether you’re employed or run your own business, access loans; simple and easy. No
                        collaterals, or long forms.
                        <a href="#">
                            <h6 class="mt-5" style="color:#139ca4">
                                Learn more
                            </h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md" data-aos="fade-down" data-aos-delay="00">
                <div class='row mt-5 me-0 me-md-2 product-grid p-3'>
                    <div class="col-3 me-0">
                        <!-- <i class="fa-solid fa-lock fa-3x" style="color:#252158; background-color: white"></i> -->
                        <img src="images//finance(3).png" alt="" class="img-fluid rounded-circle w-100">
                    </div>
                    <div class="col">
                        <h3 class="fw-bold" style="color:#139ca4">
                            Quick Savings
                        </h3>
                        Save, transfer, and withdraw your money for free at any time.
                        <a href="#">
                            <h6 class="mt-5" style="color:#139ca4">
                                Learn more
                            </h6>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md" data-aos="fade-down" data-aos-delay="00">
                <div class='row mt-5 ms-0 ms-md-2 product-grid p-3'>
                    <div class="col-3 me-0">
                        <!-- <i class="fa-solid fa-lock fa-3x" style="color:#252158; background-color: white"></i> -->
                        <img src="images//finances.png" alt="" class="img-fluid rounded-circle w-100">
                    </div>
                    <div class="col">
                        <h3 class="fw-bold" style="color:#139ca4">
                            Bill Payments
                        </h3>
                        Pay all your utility bills; airtime, cable tv, data, electricity, always at the lowest
                        possible cost.
                        <a href="#">
                            <h6 class="mt-5" style="color:#139ca4">
                                Learn more
                            </h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md" data-aos="fade-down" data-aos-delay="00">
                <div class='row mt-5 me-0 me-md-2 product-grid p-3'>
                    <div class="col-3 me-0">
                        <!-- <i class="fa-solid fa-lock fa-3x" style="color:#252158; background-color: white"></i> -->
                        <img src="images//accounting.png" alt="" class="img-fluid rounded-circle w-100">
                    </div>
                    <div class="col">
                        <h3 class="fw-bold" style="color:#139ca4">
                            Safe Lock
                        </h3>
                        Save daily or weekly, and have it moved automatically every month.
                        Learn more
                        <a href="#">
                            <h6 class="mt-5" style="color:#139ca4">
                                Learn more
                            </h6>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md">

            </div>
        </div>
    </div>
</section>


<section id="footer">
    <footer class="footer-14398">

        <div class="container">
            <div class="row mb-5">
                <div class="col-md-3">
                    <a href="#" class="footer-site-logo">Zapnode</a>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit officiis corporis optio natus. </p> -->
                </div>
                <div class="col-md-3 ml-auto">
                    <h3>Shop</h3>
                    <ul class="list-unstyled links">
                        <li><a href="#">Sell online</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Examples</a></li>
                        <li><a href="#">Website editors</a></li>
                        <li><a href="#">Online retail</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ml-auto">
                    <h3>Press</h3>
                    <ul class="list-unstyled links">
                        <li><a href="#">Events</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Awards</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">Online retail</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ml-auto">
                    <h3>About</h3>
                    <ul class="list-unstyled links">
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12 pb-4">
                    <div class="line"></div>
                </div>
                <div class="row">
                    <div class="col-md-10 text-md-left">
                        <ul class="list-unstyled link-menu nav-left">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Code of Conduct</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 text-md-right">
                        <ul class="list-unstyled social nav-right">
                            <li><a href="#"><span class="icon-twitter"></span></a></li>
                            <li><a href="#"><span class="icon-instagram"></span></a></li>
                            <li><a href="#"><span class="icon-facebook"></span></a></li>
                            <li><a href="#"><span class="icon-pinterest"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- <div class="row">
                        <div class="col-md-7">
                            <p><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, fuga. Ex at maxime eum
                                    odio quibusdam pariatur expedita explicabo harum! Consectetur ducimus delectus nemo, totam
                                    odit!</small></p>
                        </div>
                    </div> -->
        </div>

        </div>
    </footer>
</section>
<%- include('footer') %>